.container{
    text-align: center;
    margin-top: 50px;
    color:white;
}

.bar{
    border-radius: 30px;
    display: inline-block;
    color: transparent;
    background-color: pink;
    margin: 0 1px;
    overflow: hidden;
}

.buttons{
    height: 100px;
    background-color: black;
    color:white;
}

.action{
    margin: 10px;
    padding: 15px 32px;
    border: none;
    text-align: center;
    background-color: pink;
    display: inline-block;
    font-size: 16px;
    color:white;
}
.slider{
    display: inline-block;
    padding-left: 30px;
    padding-top: 20px;
    color: white;
}
.selector{
    position: relative;
    background-color: black;
    color: white;
    display: inline-block;
    width: 100%;
    font-size: 15px;
}
#Algs{
    background-color: pink;
    border: none;
    height: 40px;
    width: 200px;
    margin-bottom: 20px;
    font-size: 20px;
    color:white;
}
